NYTimes/.DS_Store
NYTimes.xcodeproj/project.xcworkspace/contents.xcworkspacedata
NYTimes.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
NYTimes.xcodeproj/project.xcworkspace/xcuserdata/hoangnguyenngoc.xcuserdatad/IDEFindNavigatorScopes.plist
NYTimes.xcodeproj/project.xcworkspace/xcuserdata/hoangnguyenngoc.xcuserdatad/UserInterfaceState.xcuserstate
NYTimes.xcodeproj/xcuserdata/hoangnguyenngoc.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
NYTimes.xcodeproj/xcuserdata/hoangnguyenngoc.xcuserdatad/xcschemes/xcschememanagement.plist
NYTimes/Assets.xcassets/.DS_Store
NYTimes/CoreData/.DS_Store
NYTimes/Preview Content/.DS_Store
NYTimes/UI/.DS_Store
NYTimesTests/.DS_Store
